header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    padding-top: 0px;
}

header>h1 {
    font-size: 60px;
    margin-bottom: 0;
    text-shadow: 2px 2px 4px gray;
}

header>h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px 4px gray;
}

header>h3 {
    font-size: 3px;
    margin-top: 3;
    font-style: italic;
    text-shadow: 2px 2px 4px gray;
}

html {
    background-color: white;
    color: black;
    font-size: 25;
}